.mainBgc {
  background-image: url('../../assets/images/mainBgc.png');
}

.menuBgc {
  background-image: url('../../assets/images/menu.png');
}

.restaurantBgc {
  background-image: url('../../assets/images/restaurantBgc.png');
}

.giftBgc {
  background-image: url('../../assets/images/giftBgc.png');
}

.bookedBgc {
  background-image: url('../../assets/images/bookedBgc.png');
}
